rss{padding:2%}
item{padding : 2%;}
title
{
display:block;
font-size: 18px;
color: #000000;
font-weight:bold;
}
time
{
font:italic arial,sans-serif;
display:block;
font-size: 16px;
color: #666;
font-style: italic;
text-indent:2em;
}
link
{
font:italic arial,sans-serif;
display:block;
text-indent:5em;
font-size: 14px;
color: #666;
}
description
{
display:block;
text-indent:5em;
font-size: 14px;
color: #666;
}
body{font-family:Arial;margin-left:10%;margin-right:10%;margin-top:5%;font-size:16px;}
p{text-indent:4em;margin-top:0.2em;margin-bottom:0px;font-family:monospace;}
pre{text-indent:4em;margin-top:0.2em;margin-bottom:0px;}
a{font-family: Arial;}
form{margin-left:10%;margin-top: 1%;margin-top: 1%;}
